#banner {
    background-color: rgb(0, 188, 212);
    color: white;
    padding: 40px 50px 10px 50px;

}

h1 {
    text-align: center;
    font-size: 100px;
}

h2 {
    font-size: 17px;
    margin: auto;
    max-width: 600px;
    text-align: center;

}

#action-buttons {
    display: flex;
    margin: 15px;
}
#action-buttons > div {
   margin: auto;
}